:root,
html.dark {
  // brand colors
  --c-brand: #110b53;
  --c-brand-light: #393096; // is actually darker
}

.custom-container.authorization {
  border-color: var(--c-tip-text);
  background-color: var(--c-tip-bg);
  color: var(--c-tip-text);
  border-left-width: 0.5rem;
  border-left-style: solid;
  padding: 0.1rem 1.5rem;
  margin: 1rem 0;
}

a.sidebar-item + .sidebar-sub-items {
  display: none;
}

a.sidebar-item.active + .sidebar-sub-items {
  display: block;
}
